/* Autor: Prof. Dr. Norman Lahme-Hütig (FH Münster) */

:root {
  --app-primary-color: #034da1;
  --app-error-color: #c5344e;
  --app-info-color: #14854e;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
