#standardUploadImage {
  width: 50%;
  height: 50%;
}

:root {
  --app-primary-color: #034da1;
  --app-error-color: #c5344e;
  --app-info-color: #14854e;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.container {
  width: 800px; 
  height: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    width: 576px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

#heading-course-overview {
  display: flex;
  align-items: center; /* Vertical align the elements to the center */
}

#create-course-button-course-overview {
  margin-left: auto; /* Push this element to the right */
}

.userAvatar {
  display: inline;
}

.userAvatar > img {
  width: 1rem;
  height: 1rem;
  display: inline;
}