/* Autor: Prof. Dr. Norman Lahme-Hütig (FH Münster) */

:host {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: solid rgba(0, 0, 0, 0.125) 1px;
}

:host(:first-of-type) {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

:host(:not(:first-of-type)) {
  border-top: none;
}

:host(:last-of-type) {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

:host(:hover) {
  background-color: #f6f6f6;
}

.toggle-status {
  display: inline-flex;
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid #888;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

slot[name='title']::slotted(*) {
  flex-grow: 1;
  margin-left: 0.75rem;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.status::before {
  color: #008000;
  font-size: 1.25rem;
  font-weight: bold;
  content: '✓';
}

.remove-task::before {
  color: #c5344e;
  font-size: 1.25rem;
  font-weight: bold;
  content: '×';
}

@media (hover: hover) {
  .remove-task {
    display: none;
  }

  :host(:hover) .remove-task {
    display: inline;
  }
}
