/* Autor: Victor Corbet */

h1 {
  font-weight: lighter;
}

form {
  margin-top: 1rem;
}


/*
  Password Validation on Client Side
  by Manipulating CSS-Variables via JS (TS)
  */

.password-strength {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
  margin: 0 auto;
  position: relative;
  height: 1.6rem;
  overflow:  hidden;
}
.password-strength::before {
  content: '';
  height: 100%;
  width: calc(1% * var(--passwordStrength , 0));
  background-color: var(--passwordStrength_color , 'red');
  transition: width 250ms;
  position: absolute;
  left: 0;
}

.problems > * {
  color: var(--app-error-color); 
  margin-top: 0.7rem;
  height: auto;
}
