/* Autor: Prof. Dr. Norman Lahme-Hütig (FH Münster) */

h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
  user-select: none;
  cursor: default;
}

label {
  display: block;
  margin: 1rem 0 0.5rem 0;
  color: #666;
}

input,
textarea {
  display: block;
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  border: solid rgba(0, 0, 0, 0.125) 1px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: solid var(--app-primary-color) 1px;
  box-shadow: 0 0 0 1px var(--app-primary-color);
}

button {
  display: inline-block;
  box-sizing: border-box;
  margin: 1rem 0 0 0;
  padding: 0.375rem 0.75rem;
  vertical-align: middle;
  border: solid rgba(0, 0, 0, 0.125) 1px;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--app-primary-color);
  color: white;
}

button:not(:disabled) {
  cursor: pointer;
}

button:hover {
  filter: saturate(150%);
}

.invalid-feedback {
  display: none;
}

.was-validated input:invalid {
  border: solid var(--app-error-color) 1px;
}

.was-validated input:invalid:focus {
  box-shadow: 0 0 0 1px var(--app-error-color);
}

.was-validated input:invalid ~ .invalid-feedback {
  color: var(--app-error-color);
  margin-top: 0.2rem;
  font-size: 0.8rem;
  display: block;
}

.was-validated input:valid ~ .invalid-feedback {
  display: none;
}
